[Unit]
Description=Continue last time tracking instance after re-login with time warrior
DefaultDependencies=no
After=reboot.target halt.target suspend.target hibernate.target hybrid-sleep.target
# This works because it is installed in the target and will be
#   executed before the target state is entered
# Also consider kexec.target

[Service]
User=mreich
#Type=oneshot
ExecStart=/bin/bash /home/mreich/bin/twork_resume

[Install]
WantedBy=halt.target reboot.target shutdown.target suspend.target hibernate.target hybrid-sleep.target
